test
<ul>
    <% if(current_user && ( current_user == issue.creator || current_user.has_voted_for_issue?(issue))) %>
      <li class="supported"><%= link_to 'Supported', user_path(current_user.twitter_id), :remote => true, :class => 'issue-vote-link disabledlink', :id => "issue-vote-link-#{issue.id}" %></li>
      <li><%= link_to 'Add Details', {:controller=>'reports', :action=>'new', :issue=>issue.id}, :remote => !is_mobile_device?, :class => 'new-report-link', :id => "new-report-link-#{issue.id}" %></li>
    <% elsif current_user %>
      <li><%= link_to 'Support this', vote_for_issue_path(issue.id), :remote => true, :class => issue.resolved? ? 'issue-vote-link disabledlink' : 'issue-vote-link', :id => "issue-vote-link-#{issue.id}" %></li>
      <li><%= link_to 'Support with Details', {:controller=>'reports', :action=>'new', :issue=>issue.id}, :remote => !is_mobile_device?, :class =>  issue.resolved? ? 'new-report-link disabledlink' : 'new-report-link', :id => "new-report-link-#{issue.id}" %></li>
    <% end %>
    <% if current_user && !issue.resolved? %>
      <li><%= link_to 'Propose Solution', new_issue_solution_path(issue), :remote => !is_mobile_device?,  :class => 'new-issue-suggestion-link', :id => "new-issue-suggestion-link-#{issue.id}" %></li>
      <li><%= link_to 'Mark Resolved', resolve_issue_path(issue.id), :remote => true, :class => 'issue-resolve-link', :id => "issue-resolve-link-#{issue.id}" %></li>
    <% elsif current_user %>
      <li>Reported As Fixed</li>
      <li><%= link_to 'Agree!', resolve_issue_path(issue.id), :remote => true, :class => current_user.id == issue.resolver_id ? 'issue-resolve-link disabledlink' : 'issue-resolve-link', :id => "issue-resolve-link-#{issue.id}" %></li>
    <% end %>
  </ul>

