<div class="report_details grid_8">

  <h4><%= link_to truncate(Profanalyzer.filter(issue.description),:length => 30), issue_path(issue) %> </h4>
 <h6><%= issue.street_address %> <%= summary_date(issue.created_at) %></h6>
 <%= issue.reports.first.report_image? ? image_tag(issue.reports.first.report_image.tiny.url) : '' %>
 <p><%= Profanalyzer.filter issue.description %></p>
</div>
<div class="report_stats grid_6">
  <p class="user">
    Created By
    <%= image_tag issue.creator.avatar_url %> <%= link_to "@#{issue.creator.twitter_username}", user_path(issue.creator) %>
  </p>
  <p class="stat">
  Votes: <%= issue.votes.count %><br />
    <%= Geocoder::Calculations.distance_between(issue.lat, issue.lon, user_lat, user_lon, {:units => distance_units}).to_i %> <%= distance_units_name %>
  </p>
</div>
<div class="report_actions">
<%= render :partial => 'issues/action_rail', :locals => {:issue => issue, :order => @order} %>
</div><!--Closes report_actions-->
<div class="clear"></div>
