<!-- main content -->
<div id="filter">
	<ul>
	<% #XXX TODO there must be a better way to do this
	 if(is_mobile_device?)
	   latest_label = 'Recent'
	   nearest_label = 'Nearest'
	   voted_label = 'Rating'
	   resolved_label = 'Resolved'
	 else
	   latest_label = 'Most Recent'
	   nearest_label = 'Nearest to Me'
	   voted_label = 'Most Voted'
	   resolved_label = 'Recently Resolved'
	 end
	%>
	
		<li><%= link_to latest_label, {:order => 'latest'}, :class => (order == 'latest') ? 'active' : '' %></li>
		<li><%= link_to nearest_label, {:order => 'near'}, :class => (order == 'near') ? 'active' : '' %></li>
		<li><%= link_to voted_label, {:order => 'votes'}, :class => (order == 'votes') ? 'active' : '' %></li>
		<li><%= link_to resolved_label, {:order => 'resolved'}, :class => (order == 'resolved') ? 'active' : '' %></li>
	</ul>
</div><!--Closes filter navigation-->

	<h1>Browse Submitted Issues</h1>
	 <div id="report_sum"><!--STARTS: report summaries-->


    <% @issues.each do |issue| %>
      <%= render :partial => 'issues/brief', :locals => {:issue => issue, :order => @order} %>
    <% end %>
<%= paginate @issues, :window => 2 %>   
  </div><!--Closes report summaries-->

</div><!--Closes Main Content-->

