
<%= render :partial => 'map', :locals => {:issue => @issue} %>

<% content_for(:feature) do %>  
  <div id="single_issue_feature" class="grid_16"><!--feature left starts-->
  	<h5><%= @issue.street_address %></h5>
  	<p><%= @issue.description %></p>
  </div><!--Closes feature left content-->
  
  <div id="single_issue_sidebar" class="grid_6"><!--feature left starts-->
  <h5>Current Supporters</h5>
		<div id="city_reports">
  		<div class="votes">
  			<span><%= @issue.supporters.count %></span><%= link_to 'Support this', vote_for_issue_path(@issue.id), :remote => true, :class => 'issue-vote-link', :id => "issue-vote-link-#{@issue.id}" %>
  		</div>
			<div id="issue_stats">
				<div class="label">Originally Reported</div>			
				<div class="date"><%#= summary_date(@issue.created_at) %></div>				
			</div><!--close city_reports-->
			<div id="issue_map" class="grid_6" style="height: 200px;">
        
			</div>
		</div>	
	</div><!--Closes feature left content-->
<% end %>

<% content_for(:sidebar) do %>
<div class="sidebar_section">
  <h5>Most Supported Issues</h5>
		<p><a	href="#">Testing Links</a> lorizzle ipsizzle dolor the bizzle amizzle, ma nizzle adipiscing elit. Nullam sapien velit, gangsta volutpizzle, pot black, gravida vizzle, . Pellentesque rizzle tortizzle. Sizzle erizzle. Ma nizzle at dolor dapibus suscipit. Mah nizzle black velit sizzle mammasay mammasa mamma oo sa.</p>
</div>	

<div class="clear"></div>			
<div class="sidebar_section">
		<h5>Most Common Reports</h5>
		<ul class="most_stat">
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>							
		</ul>
</div><!--Closes sidebar-->
<% end %>

<h1>Additional Reports &amp; Suggested Solutions</h1>

<% @issue.reports.each do |report| %>
  <div class="report_sum" class="">
    <div class="text_description">		
  	<p class="date"><%= @issue.street_address %> <%= summary_date(@issue.created_at) %></p>	
  	<p><%= report.description %></p>
	</div>
	<div class="clear"></div>
</div>
<% end %>

