<!-- main content -->
<div id="filter">
	<ul>
	<% #XXX TODO there must be a better way to do this
	 if(is_mobile_device?)
	   latest_label = 'Recent'
	   nearest_label = 'Nearest'
	   voted_label = 'Rating'
	   resolved_label = 'Resolved'
	 else
	   latest_label = 'Most Recent'
	   nearest_label = 'Nearest to Me'
	   voted_label = 'Most Voted'
	   resolved_label = 'Recently Resolved'
	 end
	%>
	
		<li><%= link_to latest_label, {:order => 'latest'}, :class => (order == 'latest') ? 'active' : '' %></li>
		<li><%= link_to nearest_label, {:order => 'near'}, :class => (order == 'near') ? 'active' : '' %></li>
		<li><%= link_to voted_label, {:order => 'votes'}, :class => (order == 'votes') ? 'active' : '' %></li>
		<li><%= link_to resolved_label, {:order => 'resolved'}, :class => (order == 'resolved') ? 'active' : '' %></li>
	</ul>
</div><!--Closes filter navigation-->

	<h1>Browse Submitted Issues</h1>

  <div id="report_sum"><!--STARTS: report summaries-->
  <% issues.each do |issue| %>
    <div class="report_details grid_8">
    <h4><%= link_to issue.title, issue %></h4>
      <h6><%= issue.street_address %> <%= summary_date(issue.created_at) %></h6>
      <%#= image_tag :source => '', :style => " width='50px' height='50px'" %>
  		<p><%= issue.description %></p>
		</div>
		<div class="report_stats grid_6">
		  <p class="user">
		    Created By
		    <%= image_tag issue.creator.avatar_url %> <%= link_to "@#{issue.creator.twitter_username}", user_path(issue.creator.id) %>
		  </p>
		  <p class="stat">
      Votes: <%= issue.votes.count %><br />
		    <%= Geocoder::Calculations.distance_between(issue.lat, issue.lon, user_lat, user_lon, {:units => distance_units}).to_i %> <%= distance_units_name %>
		  </p>
		</div>
		<div class="report_actions">
			<ul>
			  <% if(current_user && current_user.has_voted_for_issue?(issue)) %>
          <li class="supported"><%= link_to 'Supported', vote_for_issue_path(issue.id), :remote => true, :class => 'issue-vote-link', :id => "issue-vote-link-#{issue.id}" %></li>
          <li><%= link_to 'Add Details', {:controller=>'reports', :action=>'new', :issue=>issue.id}, :remote => !is_mobile_device?, :class => 'new-report-link', :id => "new-report-link-#{issue.id}" %></li>
			  <% else %>
    			<li><%= link_to 'Support this', vote_for_issue_path(issue.id), :remote => true, :class => 'issue-vote-link', :id => "issue-vote-link-#{issue.id}" %></li>
    			<li><%= link_to 'Support with Details', {:controller=>'reports', :action=>'new', :issue=>issue.id}, :remote => !is_mobile_device?, :class => 'new-report-link', :id => "new-report-link-#{issue.id}" %></li>
  			<% end %>
  			
  			<li><a href="#">Propose Solution</a></li>
  			<% if !issue.resolved %>
    			<li><a href="#">Mark Resolved</a></li>			
  			<% end %>
			</ul>
		</div><!--Closes report_actions-->
		<div class="clear"></div>
  <% end %>
  </div><!--Closes report summaries-->
</div><!--Closes Main Content-->
