<!--<h1><%= link_to "Kajoo #{city_name} : #{site_name}", root_path %></h1>-->

<div id="navigation">
  <div class="grid_12">
	<a  href="/" id="logo"><img src="/images/kajoo-logo-lockup.png" height="100" width=""></a>
	</div>
	
	<div id="navigation" class="grid_12 omega">
  	<ul>
  	   <% if(current_user) %>
  		  <li><%= link_to "View Issues", issues_path %></li>
        <li><%= link_to raw("<span id=\"votes-remaining\">#{current_user.votes_remaining}</span> Votes Remaining"), users_dashboard_path %></li>
    	  <img id="twitter_avatar" src="<%= current_user.avatar_url %>" alt="<%= current_user.name %>"> 
    	  <%= link_to current_user.name, user_path(current_user), :id => 'account_link' %> | <%= link_to 'Logout', destroy_user_session_path, :id => 'logout_link' %>
  		<% else %>
    		<li><%= link_to "View Issues", issues_path %></li>
  		  <%= link_to "Login", user_omniauth_authorize_path(:twitter), :id => 'login' %>
  		<% end %>
  	</ul>
	</div>
</div><!--Closes navigation-->


