<div id="submit_form" class="grid_12	"><!--feature left starts-->
		
				<h1>Submit A Report</h1>
				
				<%= simple_form_for @report do |f| %>
				  <%= f.input :title %>
				  <%= f.input :description %>
				  <%= f.input :tags %>
				  <%= f.input :location %>
				  <div id="change"><a href="#">Change</a></div>	
  				<div class="button"><a href="#">Submit</a></div>
				<% end %>
				
				<div id="title">Title</div>		
				<div id="description">Decription</div>
				<div id="tags">Tags</div>
				<div id="location">Location</div>
				<div id="change"><a href="#">Change</a></div>	
				<div class="button"><a href="#">Submit</a></div>
		
		</div><!--Closes feature left content-->
		
		<div id="similar_reports" class="grid_10"><!--similar content starts-->
		
				<h5>Similar Reports</h5>
			
				<div class="similar_title">Title of another similar issue based on title: and other attributes</div>		
				<div class="report_actions">
					<ul>
					<li><a href="#">Vote</a></li>
					<li><a href="#">Comment</a></li>
					<li><a href="#">User Name</a></li>
					<li><a href="#">Edit</a></li>
					</ul>
				</div>
				
				<div class="title">Title of another similar issue based on title: and other attributes</div>		
				<div class="report_actions">
					<ul>
					<li><a href="#">Vote</a></li>
					<li><a href="#">Comment</a></li>
					<li><a href="#">User Name</a></li>
					<li><a href="#">Edit</a></li>
					</ul>
				</div>
				
				<div class="title">Title of another similar issue based on title: and other attributes</div>		
				<div class="report_actions">
					<ul>
					<li><a href="#">Vote</a></li>
					<li><a href="#">Comment</a></li>
					<li><a href="#">User Name</a></li>
					<li><a href="#">Edit</a></li>
					</ul>
				</div>
				
				<div class="title">Title of another similar issue based on title: and other attributes</div>		
				<div class="report_actions">
					<ul>
					<li><a href="#">Vote</a></li>
					<li><a href="#">Comment</a></li>
					<li><a href="#">User Name</a></li>
					<li><a href="#">Edit</a></li>
					</ul>
				</div>
		</div><!--Closes similar posts content-->
