<div id="submit_form" class="grid_12"><!--feature left starts-->
		
				<h1>Submit A Report</h1>
				
				<%= simple_form_for @report, :remote => true do |f| %>
				  <%= f.input :title %>
				  <%= f.input :description %>
				  <%= f.input :tags %>
				  
				  <% if @report.geocoded? %>
  				  <div id="change"><%= link_to 'Change', :geocoded => false %></a></div>	
  				<% else %>
  				  <%= f.input :address %>
  				<% end %>
  			  <%= f.button :submit %>	
				<% end %>
		
		</div><!--Closes feature left content-->
		
		<div id="similar_reports" class="grid_10"><!--similar content starts-->
		
				<h5>Existing Issues</h5>
			  <p>There are existing issues that are similar to your report. If they match, click "Add My Report".</p>
			  <% for i in (1..3) %>
  				<div class="similar_title">Title <%= i %></div>		
  				<div class="report_actions">
  					<ul>
    					<li><a href="#">Add My Report</a></li>
  					</ul>
  				</div>
				<% end %>
				<hr />
				<h5>New Issue</h5>
			  <p>Click below to create a new issue</p>
				<div class="report_actions">
  				<a href="#" class="button">New Issue</a>
				</div>
		</div><!--Closes similar posts content-->
