<div id="submit_form" class="grid_12"><!--feature left starts-->
		
		<% if(@issue) %>
		  <h1>Add detail to '<%= truncate(@issue.description,  :length => 30) %>'</h1>
		<% else %>
  		<h1>Submit A Report</h1>
    <% end %>
    <%= simple_form_for @report, :html =>{:multipart => true} do |f| %>
		  <%#= f.input :title %>
		  <%= f.input :description %>
		  <%#= f.input :tags %>
      <%= f.input :lat, :as => :hidden %> 
      <%= f.input :lon, :as => :hidden %>
      <input name="issue_id" id="issue_id" type="hidden" value="<%= @issue_id %>"/>  
		  <% if @report.geocoded? %>
			  <div id="change"><%= link_to 'Change', :geocoded => false %></a></div>	
			<% else %>
			  <%= f.input :address %>
      <% end %>
       <label>report photo</label>
        <%= f.file_field :report_image %>
        <%= f.hidden_field :report_image_cache %>
		  <%= f.button :submit %>
<!--		  <% content_tag :button, :type => :submit, :class => :positive do %>
         <%= image_tag '/images/cancel.png' %>
         Cancel
      <% end %>-->
<!--		  <%= button_to 'Cancel', root_path, :remote => !is_mobile_device? %>-->
		<% end %>
</div><!--Closes feature left content-->
