<% content_for(:head) do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var myOptions = {
  	      zoom: 4,
  	      mapTypeControl: true,
  	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
  	      navigationControl: true,
  	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
  	      mapTypeId: google.maps.MapTypeId.ROADMAP      
  	    }	
    	map = new google.maps.Map(document.getElementById("issue_map"), myOptions);
    	var pos=new google.maps.LatLng('<%= @report.lat %>','<%= @report.lon %>');
    	map.setCenter(pos);
    	map.setZoom(14);
    
    	var infowindow = new google.maps.InfoWindow({
    	    content: "<span style='font-size: smaller'><%= escape_javascript(@report.location) %></span>"
    	});
    
    	var marker = new google.maps.Marker({
    	    position: pos,
    	    map: map,
    	    title:"<%= escape_javascript(@report.title) %>"
    	});
  	});
  </script>  
<% end %>

<% content_for(:feature) do %>  
  <div id="single_issue_feature" class="grid_16"><!--feature left starts-->
  	<h3><%= @report.title %></h3>
  	<h5><%= @report.street_address %></h5>
  	<p><%= @report.description %></p>
  </div><!--Closes feature left content-->
<div class="clear"></div>			
<div class="sidebar_section">
		<h5>Most Common Reports</h5>
		<ul class="most_stat">
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>
		<li><div class="label">Pot Holes</div>
		<p class="stat_number">240</p></li>							
		</ul>
</div><!--Closes sidebar-->
<% end %>

<ul>
