<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>Kajoo <%= region_name %> : <%= site_name %> : Improve Your City</title>
  <%= stylesheet_link_tag 'style', '960_24_col', 'text', 'application', 'kajoo' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
	<%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="wrapper" class="container_24">

<div id="header" class="container_24"><!--Header starts-->
  <%= render :partial => 'shared/navigation' %>
</div><!--closes header--><div class="clear"></div>
<div id="main"><!--Content starts-->

<% if notice %><p class="notice grid_24"><%= notice %></p><% end %>
<% if alert %><p class="alert grid_24"><%= alert %></p><% end %>
<div id="feature" class="grid_24"><!--Feature Content-->

  <%= yield(:feature) %>		

</div><!--Closes Feature Content--><div class="clear"></div>



<div id="main_content" class="grid_16"><!--Starts Main Content -->

  <%= yield %>
  	<div id="sidebar" class="grid_6"><!--starts sidebar-->
	    <% if(current_user) %>
        <a href="#">Submit A Report</a>
      <% else %>
         <%= link_to "Sign Up",user_omniauth_authorize_path(:twitter), :id => 'sign_up' %>
      <% end %>
			<%= yield(:sidebar) %>		
		
	</div>	<!--Closes sidebar-->


</div>		

	

  <div class="clear"></div>
  <div id="footer"><!--Footer starts-->
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <%= link_to "View Issues", issues_path %>
        </li>
      <% if(current_user) %>
          <li><a href="#">Votes Remaining</a></li>
      <% else %>
        <li> <%= link_to "Login",user_omniauth_authorize_path(:twitter), :id => 'sign_up' %></li>
      <% end %>
      </ul>
  </div><!--Closes Footer-->

</div><!--Closes main-->



</div><!--Closes wrapper-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21922736-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
