<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>Kajoo <%= city_name %> : <%= site_name %> : Improve Your City</title>

  <%= javascript_include_tag 'jquery', 'rails', 'jquery.clearinginput.js', 'geo', 'modernizr', 'application' %><!--'geo_position_js_simulator',-->
  
  <% if is_mobile_device? %>
    <%= javascript_include_tag 'application_mobile' %>
    <% if is_device?('iphone') %>
      <%= javascript_include_tag 'application_iphone' %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <%= stylesheet_link_tag 'style', 'text', 'handheld', 'kajoo_mobile' %>
  <% else %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= stylesheet_link_tag 'style', '960_24_col', 'text', 'application', 'kajoo' %>
  <% end %>  
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="wrapper" class="container_24">
<div id="notices">
  <div class="grid_24"><div class="flash_message" id="flash_notice"><% if notice %><div class="flash_message_body"><%= raw(notice) %></div><% end %></div></div>
  <div class="grid_24"><div class="flash_message" id="flash_alert"><% if alert %><div class="flash_message_body"><%= raw(alert) %></div><% end %></div></div>
</div>
<div id="header" class="container_24"><!--Header starts-->
  <%= render :partial => 'shared/navigation' %>
</div><!--closes header--><div class="clear"></div>
<div id="main"><!--Content starts-->
<div class="grid_24"><!--Feature Content-->
  <div id="feature">
    <div id="feature_content">
      <%= yield(:feature) %>		
    </div>
    <div class="clear"></div>
  </div>
</div><!--Closes Feature Content--><div class="clear"></div>



<div id="main_content" class="grid_16"><!--Starts Main Content -->

    <%= yield %>

</div>		

<div id="sidebar" class="grid_6"><!--starts sidebar-->
	<%= yield(:sidebar) %>		
</div>	<!--Closes sidebar-->

	

  <div class="clear"></div>
  <div id="footer"><!--Footer starts-->
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Contact", contact_path %> 
        </li>
        <li>
          <%= link_to "View Issues", issues_path %>
          </li>
<li class="navigation-item">
         	  <% if user_signed_in? %>
         	    Signed in as <%= current_user.email || current_user.user_name %>. Not you?
         	    <%= link_to "Sign out", destroy_user_session_path %>
         	  <% else %>
         	    <%= link_to "Sign in", new_user_session_path %> or
         	    <%#= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>
              or
            <%#= link_to "Sign in as User with meetup", user_omniauth_authorize_path(:meetup) %> or <%= link_to "sign in", new_user_session_path %>
         	  <% end %>
          
      </li>
          
      <% if(current_user) %>
          <li><a href="#">Votes Remaining</a></li>
      <% else %>
        <li> <%= link_to "Login",user_omniauth_authorize_path(:twitter), :id => 'sign_up' %></li>
      <% end %>
      </ul>
  </div><!--Closes Footer-->

</div><!--Closes main-->



</div><!--Closes wrapper-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21922736-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
